{{! make the _globals object in course.json available to this template}}
{{import_globals}}
<div class="article__inner">
    {{#any displayTitle body instruction}}
    <div class="article__header">
      <div class="article__header-inner">
        {{#if _articleReveal.displayTitle}}
        <div class="article__title">
            {{#unless _disableAccessibilityState}}
                <div class="js-heading"></div>
            {{/unless}}
            <div class="article__title-inner" {{#unless _disableAccessibilityState}}aria-hidden="true"{{/unless}}>
                {{{compile _articleReveal.displayTitle}}}
            </div>
        </div>
        {{/if}}

        {{#if _articleReveal.bodyOpen}}
        <div class="article__body">
            <div class="article__body-inner">
                {{{compile _articleReveal.bodyOpen}}}
            </div>
        </div>
        {{/if}}

        {{#if _articleReveal.instructionOpen}}
        <div class="article__instruction">
            <div class="article__instruction-inner">
                {{{compile _articleReveal.instructionOpen}}}
            </div>
        </div>
        {{/if}}
      </div>
    </div>
    {{/any}}

    <div class="block__container">
      {{!-- Blocks render here --}}
    </div>

</div>
<div class="article-reveal__inner {{_articleReveal._classes}}" style="min-height:{{_articleReveal._minHeight}}px; {{#if _articleReveal._backgroundImage}} background: url('{{_articleReveal._backgroundImage}}') center top no-repeat; {{/if}}" aria-label="{{_articleReveal._ariaRegions.articleReveal}}">
    <button class="button article-reveal__open-button js-open-button" aria-label="{{_articleReveal._ariaLabels.openArticle}}">{{_articleReveal.buttonOpen}}</button>
    <button class="button article-reveal__close-button js-close-button" aria-label="{{_articleReveal._ariaLabels.closeArticle}}">{{_articleReveal.buttonClose}}</button>
</div>
